<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Handwritten Digit Recognition</title>
  </head>
<body>

<div class="bg-nav text-light d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-dark border-bottom shadow-sm" >
  <h5 class="my-0 mr-md-auto" style="color: black;font-weight: bolder;">Handwritten Digit Recognisor</h5>
  <a class="btn btn-outline-primary" href="/logout" style="color: whitesmoke;">Log Out</a>
</div>


<main role="main">

  <section class="album py-3 text-center">
    <form action="/predictpage" method="post">
      <div class="button">
        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Proceed to recognise the handwritten digits">
      </div>
    </form>
  </section>

  <div class="jumbotron py-8 bg-dark">
    <div class="container">

      <div class="row">
          <div class="card mb-2 shadow-sm">
              <div class="card-body" style="border:5px solid black;">
              <h3 style="text-align: center;">Description</h3><br>
              <p class="card-text" style="font-size: 20px;">The handwritten digit recognition is the ability of computers to recognize human handwritten digits. 
                It is a hard task for the machine because handwritten digits are not perfect, vary from person-to-person and can be made with many different flavors. 
                The handwritten digit recognition is the solution to this problem which uses the image of a digit and recognizes the digit present in the image.</p>
            </div>
          </div><br><br>
      </div>
    </div>
  </div>

</main>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>